* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background: rgb(233, 235, 233);
  height: 95%;
  min-height: 560px;
  max-height: 1000px;
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.video-container {
  /* background: rgb(233, 235, 233); */
  flex: 1 1 auto;
  aspect-ratio: 5/9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

video {
  object-fit: cover;
  width: 100%;
  height: 110%;
  visibility: visible;
}

.score-container {
  background-color: rgba(49, 49, 49, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  padding: 10px 15% 10px 15%;
}

.btn-container {
  background-image: linear-gradient(rgba(49, 49, 49, 0), rgba(49, 49, 49, 0.5));
  /* flex: 1 1 auto;
  aspect-ratio: 7/9; */
  /* display: none; */
  position: absolute;
  bottom: 0;
  /* left: 50%;
  transform: translate(-50%); */
  width: 100%;
  padding: 36px 20px 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 12px;
}

.instruction {
  color: white;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  grid-column: 1/-1;
  justify-self: center;
}

.answer-btn {
  background-color: rgba(49, 49, 49, 0.7);
  border: 1px solid rgb(255, 255, 255);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
}

.answer-btn:hover {
  background-color: white;
  color: rgb(49, 49, 49);
}

.answer-btn:active {
  background-color: white;
  transform: translateY(1px);
}

.answer-correct {
  background-color: rgb(31, 210, 70);
}

.answer-correct:hover {
  background-color: rgb(31, 210, 70);
  color: white;
}

.answer-incorrect {
  background-color: rgb(210, 31, 31);
}

.answer-incorrect:hover {
  background-color: rgb(210, 31, 31);
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  border: 8px solid #aeaeae; /* Light grey */
  border-top: 8px solid #494949; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.5);
  top: 0;
  color: white;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(49, 49, 49);
  display: flex;
  align-items: center;
  justify-content: center;
}
