:root {
  --positive-color: #1fd246;
  --negative-color: #d21f1f;
  --primary-text-color: #fff;
  --secondary-text-color: rgb(49, 49, 49);
  --primary-bg-color: rgb(49, 49, 49);
  --secondary-bg-color: rgba(49, 49, 49, 0.75);
  --tertiary-bg-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#fff, #dddddd);
  color: var(--primary-text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 12px solid #ffffff00;
  border-radius: 24px;
  overflow: hidden;

  height: 100%;
  min-height: 560px;
  max-height: 1000px;
  aspect-ratio: 9/16;
}

@media (width <= 480px) {
  .main-container {
    border: none;
    border-radius: 0;
  }
}

/**************************/
/* GENERAL BUTTON STYLING */
/**************************/
button {
  padding: 8px;
  border: 1px solid var(--primary-text-color);
  border-radius: 30px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
}

button:hover,
button:active {
  color: var(--secondary-text-color);
  background-color: var(--tertiary-bg-color);
}

button:active {
  transform: translateY(1px);
}

/**************************/
/* LOADER */
/**************************/
.loader {
  z-index: -1;
  width: 50px;
  height: 50px;
  position: absolute;
  border: 8px solid #aeaeae;
  border-top: 8px solid #494949;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************/
/* START PAGE */
/**************************/
.start-page {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 30px 35px 30px 35px;
  font-size: 16px;
  background-color: var(--primary-bg-color);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.slide-up {
  transform: translateY(-100%);
}

.start-page h1 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.start-page p {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.icon-img {
  height: 52px;
}

.bg-img {
  z-index: -2;
  height: 100%;
  position: absolute;
  opacity: 10%;
}

.start-btn {
  padding: 8px 16px 8px 16px;
}

/**************************/
/* GAME PAGE */
/**************************/
.game-page {
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 8fr 1fr;
  grid-template-columns: 1fr;
  font-weight: 600;
  background: rgba(0, 0, 0, 0);
}

.video {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  width: 100%;
  height: 110%;
  object-fit: cover;
  visibility: visible;
}

.result {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  text-shadow: 1px 1px 1px var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
}

.score {
  grid-row: 1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 12px 0 0 0;
  font-size: 20px;
  background-color: var(--secondary-bg-color);
}

.progress {
  grid-row: 2;
  grid-column: 1 / -1;
  height: 6px;
  justify-self: stretch;
  margin-top: auto;
  background-color: var(--tertiary-bg-color);
}

.btns {
  z-index: 1;
  grid-row: 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 12px;
  padding: 32px 16px 32px 16px;
  background-image: linear-gradient(rgba(49, 49, 49, 0), rgba(49, 49, 49, 0.5));
}

.instruction {
  grid-column: 1/-1;
  justify-self: center;
  font-size: 16px;
  text-shadow: 1px 1px 1px var(--primary-bg-color);
}

.correct-btn {
  background-color: var(--positive-color);
}

.correct-btn:hover {
  color: var(--primary-text-color);
  background-color: var(--positive-color);
}

.incorrect-btn {
  background-color: var(--negative-color);
}

.incorrect-btn:hover {
  color: var(--primary-text-color);
  background-color: var(--negative-color);
}

/**************************/
/* SUMMARY PAGE */
/**************************/
.summary-page {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 32px 16px 32px 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-bg-color);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.summary-score {
  position: relative;
}

.summary-score-percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  font-size: 36px;
}

.summary-score-circle {
  height: 160px;
  fill: transparent;
  --score-color: var(--positive-color);
  --score-dashoffset: 471;
  stroke: var(--score-color);
  stroke-width: 10px;
  stroke-dasharray: 471;
  stroke-dashoffset: var(--score-dashoffset);
  transform: rotate(-90deg);
  transform-origin: center;
  animation: clock-animation 1s linear;
  animation-iteration-count: 1;
  display: none;
}

@keyframes clock-animation {
  0% {
    stroke-dashoffset: 471;
    stroke: rgb(49, 49, 49);
  }
  100% {
    stroke-dashoffset: var(--score-dashoffset);
    stroke: var(--score-color);
  }
}
